.quote-container {
    width: 100vw; /* Full viewport width */
    margin: 30px 0; /* Remove side margins to make it flush with the screen edges */
    padding: 40px; /* Keep padding for inner spacing */
    background: #eeeeee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text inside the container */
    font-size: 1.3rem; /* Adjust font size for readability */
    line-height: 1.5; /* Adjust line height for better spacing */
    box-sizing: border-box;
}

.quote-container span {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
}

.quote-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100px; /* Adjust height as needed */
}

.quote {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
    font-family: 'Merriweather', 'Playfair Display', serif;
    font-size: 1.5em;
    color: #000000;
}

.quote.active {
    opacity: 1;
}