/* Apply a gradient background similar to the homepage */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #001a99;

    background-image: url('/image/bg2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Center the content within a container */
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the heading */
h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styling for the paragraph */
p {
    color: #4a90e2;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Styling for the back button */
.back-home-btn {
    display: inline-block;
    background-color: #0021dd;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.back-home-btn:hover {
    background-color: #001bb5;
}
